body{
    margin:auto;
    width:100%;
 
    font-family: 微軟正黑體,"Microsoft JhengHei" !important;
    font-size:12px;
}
#content
{
    width:90%;
}
 
.div_chart
{
    width:90%;
    border: 2px solid rgb(231, 229, 229);
    padding: 100px 10px 100px 10px;
    box-shadow: 0 0 30px rgb(10, 10, 10);
    border-radius: 10px;
}
