body{
    margin:auto;
    width:100vw;
    font-family: 微軟正黑體,"Microsoft JhengHei" !important;
    font-size: 3.5vw;
}

#content
{
  width:100vw;
  /* 水平置中 */
  justify-content: center;    
  /* 垂直置中 */
  align-items: center;  
  margin-left: auto;
  margin-right:auto;
}

#header
{
  width:100vw;
  background-color: rgba(44, 44, 44, 0.692);

  padding: 10px 30px;
}

/* ------------news------------------- */

.inline{
  display: inline-block;
  padding: 1px 10px;
  margin: 2px;
}

.bgholiday{
  background-color: rgb(39, 161, 23);
  color:white;
  font-weight: bold;
}

a:link, a:visited {
  color:white;
  font-size: 4vw;
  text-decoration: none;
}

.links{
  margin:50px 20px;
}

.div_chart
{
    border: 2px solid rgb(231, 229, 229);
    padding: 10px 10px 10px 10px;
    box-shadow: 0 0 15px rgb(90, 90, 90);
    border-radius: 10px;
}

table {
  border-collapse: collapse; 
  border:1px solid #000000;
} 

tr, td {
  padding:2px;
  spacing:1px;
}
.orange{
  color:orange;
}

.red{
  color:red;
  font-weight: bold;
}

.bgred{
  background-color: red;
  color:white;
  font-weight: bold;
}

.left{
  float: left;
}

.c_us{
  background-color: rgb(106, 106, 218);
}

.c_other{
  background-color: rgb(153, 238, 157);
}
